* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 700px;
  margin-top: 50px;
  display: flex;
}
/* col-one  */
.col-1 {
  width: 100%;
  max-width: 320px; 
}
.col-1 p {
  font-size: 20px;
  color: blueviolet;
  margin-bottom: 10px;
}
.input-container{
 border: 2px solid black;
 display: flex;
 align-items: center;
 padding-left:10px;
 column-gap: 5px;
 border-radius: 5px;
 overflow: hidden;
 margin-bottom: 16px;
}
.ruppee-sty{
  font-size: 20px;
  color:blueviolet;
  font-weight: 500;
}
.input-sty{
  width: 100%;
  border: none;
  outline: none;
 height: 36px;
 font-size: 20px;
 color: blueviolet;
}
/* tip */
.tip-container h3{
 color: blueviolet;
 font-weight: 400;
 margin-bottom: 10px;
 font-size: 24px;
}
.tip-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.tip-percent-sty{
  width: 97px;
  border: none;
  background-color: blueviolet;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px;
  border-radius: 7px;
}
.custom-input-sty{
   width: 100%;
   padding: 8px 0px;
   font-size: 16px;
   background-color:#DDDDDD;
   padding-left: 6px;
   border: none;
   outline: none;
   border-radius: 4px;
}
.Number-people h3{
  margin-top: 19px;
  color: blueviolet;
 font-weight: 400;
 margin-bottom: 10px;
 font-size: 20px;
}
.generate-bill-btn{
  margin-top: 16px;
  padding: 15px;
  width: 100%;
  color: white;
    background-color: blueviolet;
   border: none;
   border-radius: 6px;
   font-size: 16px;
}

/* col-2 */
.col-2{
  margin-top: 28px;
  width:100%;
 max-width:400px;
  background-color: teal;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
padding: 28px;
  row-gap: 32px;
  align-self: center;
}
.col-2-heading{
  color: white;
  font-size: 20px;

}
.reset-btn-sty{
  padding: 20px;
}